registry=http://nexus.bch.bancodechile.cl:8081/repository/bch-npm-group/
init.author.name=Banco de Chile
init.author.email=npm@npm.cl
email=npm@npm.cl
always-auth=true
//nexus.bch.bancodechile.cl:8081/repository/bch-npm-group/:_auth="dXNlci1uaTpHb2xkZW4qMjAyMA=="