<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="submitted && !oldPassword">
      <span>La contraseña actual es requerida</span>
    </div>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="submitted && newPassword && passwordErrors.length > 0">
      <span *ngFor="let err of passwordErrors">{{ err }}<br/></span>
    </div>

    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="submitted && confirmPassword && !passwordsMatch">
      <span>Las contraseñas no coinciden</span>
    </div>
  </ion-list>

  <ion-button expand="block" (click)="changePassword()" [disabled]="loading || !isFormValid">
    {{ loading ? 'Cambiando...' : 'Cambiar Contraseña' }}
  </ion-button>
</ion-content>
